{% extends "base.html" %}

{% block script %}
  <script type="text/javascript" charset="utf-8" src="/media/js/jquery.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('a#status').click(function(){
        window.open('{% url timelord.main.views.status %}', 'timelord', 'height=200,width=300', false);
        return false; // Prevent the actual link from being followed
      });
    });
  </script>
{% endblock %}

{% block content %}
    <h1>Timelord</h1>

    <h2>Projects</h2>
    <ul>
        {% for project in projects %}
            <li>
                <a href="{% url timelord.main.views.project project.id %}">{{ project }}</a>
                :
                <a href="{% url timelord.reports.views.invoice_project project_id=project.id %}">invoice</a></li>
        {% endfor %}
    </ul>
    <a href="{% url main.views.status %}" id="status">Status</a>
{% endblock %}
