{% extends "base.html" %}

{% block script %}
  <script type="text/javascript" charset="utf-8" src="/media/js/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="/media/js/jquery.timers.js"></script>
  <script type="text/javascript" charset="utf-8" src="/media/js/log.js"></script>
{% endblock %}

{% block content %}
  <h1>Timelord</h1>
  
  <ul>
    <li>{{ user.get_full_name }}</li>
    <li>Time for today: <span id="today-time">{{ today_time }}</span></li>
    <li>
      Time for current task:
      <span id="task-time">
        {% if current_task %}
          {{ task_time }}
        {% else %}
          unknown
        {% endif %}
      </span>
    </li>
  </ul>
  
  <form action="{% url main.views.status %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <select name="task" id="task-select">
      {% for task in tasks %}
        <option value="{{ task.pk }}" {% ifequal task current_task %} selected="selected"{% endifequal %}>
          {{ task }}
        </option>
      {% endfor %}
    </select>
    
    <input type="submit" value="Refresh" id="Submit" name="Submit"/>
    <br/>
    <input type="button" name="plus5" value="+ 5" id="plus5"/>
    <input type="button" name="minus5" value="- 5" id="minus5"/>
    <input type="checkbox" name="paused" value="1" id="paused"/>Paused
  </form>
    
{% endblock %}
